<div>
    <h1>
        PRODUCTOS EN STOCK - TOTAL: {{productos.length}}
    </h1>
    {{#each productos}}
    <p>Nombre: {{this.title}}</p>
    <p>Producto: {{this.description}}</p>
    <p>Precio: $ {{this.price}}</p>
    {{!-- <p>Estado: {{this.status}}</p> --}}
    {{!-- <p>Imagenes: {{this.thumbnail}}</p> --}}
    {{!-- <p>Código: {{this.code}}</p> --}}
    <p>Stock: {{this.stock}}</p>
    {{!-- <p>Id: {{this.id}}</p>  --}}
    <p>---------------------------------------------------------------------------</p> 
    {{/each}}   
</div>

<script src="/socket.io/socket.io.js"> </script>
<script src="/js/index.js"> </script>

